<h1>Confirmation</h1>
<p>Thank you for updating your donation form.<br>
You deleted the following supply item: <span class = 'standoutText'>{{this.supply_name}}</span>! 
If you would still like to donate a classroom supply item, visit the home page below.</p>



<button class = 'homeButton'><a href='/'>Back to Home</a></button>