<h1>Delete a Donation Confirmation</h1>

<form action = '/update' method = 'post'>
If you made a mistake in your donation form and would like to delete the confirmation form:

 <ul> <li>Enter the confirmation ID you received in the email sent after you submitted a form.</li>
 <li>Then press submit. </li>
</ul>
<p>A confirmation message will be emailed to you. </p>

     <label for id='id' >Confirmation ID:  </label><input type='text' name = 'id' required> <br>

    <input type="submit"></input>
    <p><br><br>      </p>
</form>

<button><a href='/'>Back to Home</a></button>