<h1>Thank You</h1>
<p>Thank you for your donation, <span class = 'standoutText'>{{this.fname}}</span>! 
Please remember to bring your donated supply, <span class = 'standoutText'>{{this.supply_name}}</span> to class.</p>
<p>You will receive an email message confirming your supply item donation. <br>
If you made an error in selecting a supply item donation, go back to the Home page and update/delete your donation form.
You will need this unique donation id as a reference: <span class = 'standoutText'>{{this.donation_id}}</span>.
</p>
<p>Thank you!</p>


<button class = 'homeButton'><a href='/'>Back to Home</a></button>