<div class = 'container'>
<h1>Update a Donation Submission</h1>

<form action = '/updateDonation' method = 'post'>
 <ul><li>Enter your first name, last name, and the donation ID you received in the email sent after you submitted a donation form.</li>
 <li>Select a supply item from the dropdown menu that is still needed. </li>
 <li>Then press submit. </li>
</ul>
<p>A confirmation message will be emailed to you. </p>
    <input type = 'hidden' name = 'teacherView' value = '0'> <br>
    <label for id='fname'>First name: </label><input text = 'text' name = 'fname' required ><br>
    <label for id='lname'>Last name: </label><input text = 'text' name = 'lname' required ><br>
    <label for id='donation_id' >Donation ID:  </label><input type='number' name = 'donation_id' required> <br>
    <label for id='supply_id'>Supplies:  </label><select name = 'supply_id' required>
        <option value ="" disabled selected> Select a supply item </option>
        {{#each supplies}}
            {{#if this.quantity_still_needed}}
                <option value = {{this.supply_id}}>{{this.supply_name}}</option>
            {{/if}}
        {{/each}}
    </select><br>
    <input class='btn btn-outline-primary' type="submit" value = 'Submit'></input>   
    <p></p>
</form>
<div class = 'msg'>{{msg}}</div><br>
{{!-- <button class = 'homeButton'><a href='/'>Back to Home</a></button> --}}
</div>