body{
    background-color: aliceblue
}

a{
  text-decoration: none;
  color: blue;
  
}

.msg{
  font-size: 14px;
  color: blue;
  padding: 10px 5px;
  display: block;
  font-weight: bold;





}
.standoutText {
  font-weight: bold;
  color: blue;

}
.homeButton{
  font-size: 14px;
  background-color: rgb(199, 230, 240);
  border: none;
  border-radius:10%;
 
  padding:.5em;


}
#table_header{
    font-weight: bold;
}
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
h1{
    color: blue;
}
body{
    margin: 2em;
}

table{
 
    border: 1px solid black;

  }
  td{
    padding-right:.5em;
    padding-left: .5em;
    border: 1px solid black;
  }

  button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: .5em;
 
 
  }